h1 {
    background-color:dodgerblue;
    color: honeydew;
    height: 50px
    
}
h2 {
    background-color:rgba(128, 0, 128, 0.31);
    height: 20px

}
h3{
    background-color: lightseagreen;
    height: 50px

}





